# Battle of Neighbourhoods

Import libraries:

In [24]:
import urllib.request
from bs4 import BeautifulSoup
import numpy as np
from geopy.geocoders import Nominatim
import matplotlib.cm as cm
import matplotlib.colors as colors
from sklearn.cluster import KMeans
import folium 
import requests
from pandas.io.json import json_normalize

Use urllib and BeautifulSoup to get the wikitable data as html then initialise empty lists for each column and loop through the items in the wikitable and append to lists:

In [25]:
url = 'https://en.wikipedia.org/wiki/London_postal_district'
page = urllib.request.urlopen(url)
soup = BeautifulSoup(page,'html.parser')

postal_code = []
borough = []
neighbourhood = []

In [48]:
postal_code = []
borough = []
neighbourhood = []

for items in soup.find('table', class_='wikitable').find_all('tr')[1::1]:
    data = items.find_all(['th','td'])
    borough.append(data[1].find(text=True))
    neighbourhood.append(data[2].find(text=True))
    postal_code.append(data[0].find(text=True))

In [49]:
data

[<td><a href="/wiki/N_postcode_area" title="N postcode area">N</a></td>,
 <td><i>Northern</i></td>,
 <td><b>N1 Head district</b><br/> N2 East Finchley<br/> N3 Finchley<br/> N4 Finsbury Park<br/> N5 Highbury<br/> N6 Highgate<br/> N7 Holloway<br/>N8 Hornsey<br/> N9 Lower Edmonton<br/> N10 Muswell Hill<br/> N11 New Southgate<br/> N12 North Finchley<br/> N13 Palmers Green<br/> N14 Southgate<br/> N15 South Tottenham<br/> N16 Stoke Newington<br/> N17 Tottenham<br/> N18 Upper Edmonton<br/> N19 Upper Holloway<br/> N20 Whetstone<br/> N21 Winchmore Hill<br/> N22 Wood Green
 </td>]

Get Regional Gross Disposable Household Income dataset from the gov website: (https://www.ons.gov.uk/economy/regionalaccounts/grossdisposablehouseholdincome/datasets/regionalgrossdisposablehouseholdincomebylocalauthoritiesbynuts1region)

In [21]:
gdhi = pd.read_excel(r"~/Documents/regionalgrossdisposablehouseholdincomelocalauthorityukilondon.xls", sheet_name="Table 1", skiprows=1)
gdhi.rename(columns={"20182": "2018"},inplace=True)
gdhi.dropna(inplace=True)
gdhi.head(5)

,Region,LAD code,Region name,1997,1998,1999,2000,2001,2002,2003,...,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018
0,London,E09000001,City of London,462.0,514.0,543.0,603.0,625.0,627.0,646.0,...,1036.0,992.0,989.0,1075.0,1202.0,1296.0,1426.0,1462.0,1487.0,1673.0
1,London,E09000007,Camden,3050.0,3348.0,3697.0,4236.0,4373.0,4401.0,4510.0,...,7450.0,7222.0,7134.0,7813.0,8710.0,9151.0,9954.0,10332.0,10274.0,11170.0
2,London,E09000033,Westminster,3813.0,4044.0,4496.0,5118.0,5353.0,5435.0,5623.0,...,8980.0,8789.0,8741.0,9588.0,10671.0,11460.0,12674.0,12906.0,13190.0,14004.0
3,London,E09000013,Hammersmith and Fulham,2894.0,2948.0,3208.0,3559.0,3657.0,3657.0,3757.0,...,5613.0,5549.0,5366.0,5759.0,6411.0,6801.0,7140.0,7004.0,7082.0,7587.0
4,London,E09000020,Kensington and Chelsea,5358.0,5359.0,5702.0,6389.0,6569.0,6529.0,6712.0,...,10171.0,9763.0,9527.0,10380.0,11589.0,12533.0,13097.0,12764.0,12841.0,14033.0