# Battle of Neighbourhoods

## Introduction/Background

Mrs A has decided to open a new Italian restaurant in London, having moved from Italy but she has not yet decided on the location. Mrs A wants to find the neighbourhood with successful existing restaurants to ensure there is high enough footfall, however she does not want there to be too much direct competition from other nearby Italian restaurants.
This data science problem will be addressed with Mrs A as the target audience to help her decide where the best location for her new Italian restaurant will be.

There are multiple factors to consider in the approach to this problem. These include the number of similar restaurants in the immediate area (here we will use a 500m radius), the success of other food businesses and the affluence of the area in general.

In [1]:
import pandas as pd
import numpy as np
import matplotlib.cm as cm
import matplotlib.colors as colors
from sklearn.cluster import KMeans
import folium 
import requests
from pandas.io.json import json_normalize
from geopy.geocoders import Nominatim

Read in csv containing postcodes for each ward within each district (obtained from https://www.doogal.co.uk/london_postcodes.php) as a pandas dataframe:

In [2]:
pcRaw = pd.read_csv(r'~\Documents\London postcodes.csv')
pcRaw.head()

C:\Users\Eilidh.Mayne\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3147: DtypeWarning: Columns (47) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,Postcode,In Use?,Latitude,Longitude,Easting,Northing,Grid Ref,County,District,Ward,...,Nearest station,Distance to station,Postcode area,Postcode district,Police force,Water company,Plus Code,Average Income,Sewage Company,Travel To Work Area
0,BR1 1AA,Yes,51.401546,0.015415,540291,168873,TQ402688,Greater London,Bromley,Bromley Town,...,Bromley South,0.218257,BR,BR1,Metropolitan Police,Thames Water,9F32C228+J5,63100,NaN,London
1,BR1 1AB,Yes,51.406333,0.015208,540262,169405,TQ402694,Greater London,Bromley,Bromley Town,...,Bromley North,0.253666,BR,BR1,Metropolitan Police,Thames Water,9F32C248+G3,56100,NaN,London
2,BR1 1AD,No,51.400057,0.016715,540386,168710,TQ403687,Greater London,Bromley,Bromley Town,...,Bromley South,0.044559,BR,BR1,Metropolitan Police,NaN,9F32C228+2M,63100,NaN,London
3,BR1 1AE,Yes,51.404543,0.014195,540197,169204,TQ401692,Greater London,Bromley,Bromley Town,...,Bromley North,0.462939,BR,BR1,Metropolitan Police,Thames Water,9F32C237+RM,63100,NaN,London
4,BR1 1AF,Yes,51.401392,0.014948,540259,168855,TQ402688,Greater London,Bromley,Bromley Town,...,Bromley South,0.227664,BR,BR1,Metropolitan Police,Thames Water,9F32C227+HX,63100,NaN,London

We only want the Postcode, District, Ward, Latitude and Longitude columns in our dataframe so let's initialise this as a new dataframe, 'postcodes':

In [3]:
postcodes = pcRaw[['Postcode','District','Ward','Latitude','Longitude']]
postcodes.head()

  Postcode District          Ward   Latitude  Longitude
0  BR1 1AA  Bromley  Bromley Town  51.401546   0.015415
1  BR1 1AB  Bromley  Bromley Town  51.406333   0.015208
2  BR1 1AD  Bromley  Bromley Town  51.400057   0.016715
3  BR1 1AE  Bromley  Bromley Town  51.404543   0.014195
4  BR1 1AF  Bromley  Bromley Town  51.401392   0.014948

Let's look at the shape of the dataframe to see how many postcodes we have:

In [4]:
postcodes.shape

(323306, 5)

We have 323,306 postcodes in total! As this is a large number, we first want to narrow down our data to just the district with the highest GDHI, so let's import the dataset for this now.

Get Regional Gross Disposable Household Income dataset from the gov website: (https://www.ons.gov.uk/economy/regionalaccounts/grossdisposablehouseholdincome/datasets/regionalgrossdisposablehouseholdincomebylocalauthoritiesbynuts1region)

In [5]:
gdhi = pd.read_excel(r"~/Documents/regionalgrossdisposablehouseholdincomelocalauthorityukilondon.xls", sheet_name="Table 1", skiprows=1)
gdhi.rename(columns={"20182": 2018},inplace=True)
gdhi.dropna(inplace=True)
gdhi.head()

,Region,LAD code,Region name,1997,1998,1999,2000,2001,2002,2003,...,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018
0,London,E09000001,City of London,462.0,514.0,543.0,603.0,625.0,627.0,646.0,...,1036.0,992.0,989.0,1075.0,1202.0,1296.0,1426.0,1462.0,1487.0,1673.0
1,London,E09000007,Camden,3050.0,3348.0,3697.0,4236.0,4373.0,4401.0,4510.0,...,7450.0,7222.0,7134.0,7813.0,8710.0,9151.0,9954.0,10332.0,10274.0,11170.0
2,London,E09000033,Westminster,3813.0,4044.0,4496.0,5118.0,5353.0,5435.0,5623.0,...,8980.0,8789.0,8741.0,9588.0,10671.0,11460.0,12674.0,12906.0,13190.0,14004.0
3,London,E09000013,Hammersmith and Fulham,2894.0,2948.0,3208.0,3559.0,3657.0,3657.0,3757.0,...,5613.0,5549.0,5366.0,5759.0,6411.0,6801.0,7140.0,7004.0,7082.0,7587.0
4,London,E09000020,Kensington and Chelsea,5358.0,5359.0,5702.0,6389.0,6569.0,6529.0,6712.0,...,10171.0,9763.0,9527.0,10380.0,11589.0,12533.0,13097.0,12764.0,12841.0,14033.0

Unfortunately, the dataset only includes data up to 2018 so there are a couple of years missing. Because of this, we will look at the average GDHI over the last five years in the dataset (2014 - 2018) and take the highest.

In [6]:
gdhi = gdhi[['Region name', 2014,2015,2016,2017,2018]]
gdhi['avg_5_yr'] = gdhi[[2014,2015,2016,2017,2018]].mean(axis=1)

Let's look at the first 5 rows of our dataset with the new column 'avg_5_yr':

In [7]:
gdhi.head()

,Region name,2014,2015,2016,2017,2018,avg_5_yr
0,City of London,1296.0,1426.0,1462.0,1487.0,1673.0,1468.8
1,Camden,9151.0,9954.0,10332.0,10274.0,11170.0,10176.2
2,Westminster,11460.0,12674.0,12906.0,13190.0,14004.0,12846.8
3,Hammersmith and Fulham,6801.0,7140.0,7004.0,7082.0,7587.0,7122.8
4,Kensington and Chelsea,12533.0,13097.0,12764.0,12841.0,14033.0,13053.6

Now we need to find the region with the highest GDHI:

In [8]:
region_name = gdhi.loc[gdhi['avg_5_yr']==gdhi['avg_5_yr'].max(), 'Region name']
region_name

4    Kensington and Chelsea
Name: Region name, dtype: object

We will now filter the postcodes dataset to just the rows for Kensington and Chelsea:

In [9]:
KC_postcodes = postcodes[postcodes['District']=='Kensington and Chelsea'].reset_index(drop=True)
KC_postcodes

,Postcode,District,Ward,Latitude,Longitude
0,SW10 0AB,Kensington and Chelsea,Chelsea Riverside,51.478206,-0.183053
1,SW10 0AD,Kensington and Chelsea,Stanley,51.485945,-0.180470
2,SW10 0AE,Kensington and Chelsea,Stanley,51.485776,-0.180621
3,SW10 0AF,Kensington and Chelsea,Stanley,51.481480,-0.183053
4,SW10 0AG,Kensington and Chelsea,Stanley,51.485807,-0.180317
...,...,...,...,...,...
8481,W9 4HS,Kensington and Chelsea,Abingdon,51.498289,-0.198295
8482,W9 4HT,Kensington and Chelsea,Abingdon,51.498289,-0.198295
8483,W9 4HU,Kensington and Chelsea,Abingdon,51.498289,-0.198295
8484,W9 4HW,Kensington and Chelsea,Abingdon,51.498289,-0.198295
8485,W9 4HY,Kensington and Chelsea,Abingdon,51.498289,-0.198295

That's looking a little more manageable with 8,486 postcodes however it would look very busy on a map so it would be helpful to have one postcode for each Ward. Let's check how many Wards (neighbourhoods) there are:

In [10]:
KC_postcodes['Ward'].nunique()

18

In [11]:
KC_postcodes['Ward'].unique()

array(['Chelsea Riverside', 'Stanley', 'Redcliffe', 'Courtfield',
       'Abingdon', 'Royal Hospital', 'Brompton & Hans Town',
       "Earl's Court", "Queen's Gate", 'Dalgarno', 'Golborne', 'Colville',
       "St. Helen's", 'Notting Dale', 'Norland', 'Pembridge', 'Campden',
       'Holland'], dtype=object)

We will iterate through each of the Wards listed above and obtain the coordiates using the geopy library. Empty lists have been initialised and the ward names and coordinates will be appended to these:

In [12]:
ward = []
lat = []
long = []

for i in KC_postcodes['Ward'].unique():
    
    address = i+', Kensington and Chelsea, London'

    geolocator = Nominatim(user_agent="London_explorer")
    location = geolocator.geocode(address)
    latitude = location.latitude
    longitude = location.longitude
    ward.append(i)
    lat.append(latitude)
    long.append(longitude)
    KC_data = pd.DataFrame({'Ward': ward,'Latitude': lat,'Longitude': long})

KC_data

                    Ward   Latitude  Longitude
0      Chelsea Riverside  51.487542  -0.168220
1                Stanley  51.512145  -0.204227
2              Redcliffe  51.488203  -0.188386
3             Courtfield  51.492211  -0.192594
4               Abingdon  51.497579  -0.196173
5         Royal Hospital  51.487094  -0.158674
6   Brompton & Hans Town  51.497304  -0.168841
7           Earl's Court  51.491612  -0.193903
8           Queen's Gate  51.493364  -0.178546
9               Dalgarno  51.523419  -0.223709
10              Golborne  51.522295  -0.207622
11              Colville  51.515728  -0.203766
12           St. Helen's  51.518820  -0.218068
13          Notting Dale  51.510819  -0.218484
14               Norland  51.506093  -0.211574
15             Pembridge  51.511258  -0.195188
16               Campden  51.508636  -0.199788
17               Holland  51.503008  -0.204135

We now have the coordinates for each Ward. Let's go ahead and plot these on a map, using the geopy library:

In [13]:
map_KC = folium.Map(location=[latitude, longitude], zoom_start=11)

for lat, lng, label in zip(KC_data['Latitude'], KC_data['Longitude'], KC_data['Ward']):
    label = folium.Popup(label, parse_html=True)
    folium.CircleMarker(
        [lat, lng],
        radius=5,
        popup=label,
        color='red',
        fill=True,
        fill_color='#3186cc',
        fill_opacity=0.7,
        parse_html=False).add_to(map_KC)  
    
map_KC

We now need to obtain details for all restaurants in a 500m radius of each of the coordinates so we will make an API call to Foursquare:

In [14]:
CLIENT_ID = 'A4ZHKOHUHIVQ4D0AHZFVNLAQHBWU43JQVBRCUXN5KYXKKOPD'
CLIENT_SECRET = '2IOQ1YMRGCAIZ5NNL13MAI3PKKBLBQWBLWLKOAZGVIZZONBM'
AccessCode = "MD0Q44JWJGS0CNQNBW1M05U4Z0ACCOJT0UN12NII2JTGOWOF"
VERSION = '20180604'
LIMIT = 100

In [15]:
def getNearbyVenues(names, latitudes, longitudes, radius=500):
    
    venues_list=[]
    for name, lat, lng in zip(names, latitudes, longitudes):

        url = 'https://api.foursquare.com/v2/venues/explore?&client_id={}&client_secret={}&v={}&ll={},{}&radius={}'.format(
            CLIENT_ID, 
            CLIENT_SECRET, 
            VERSION, 
            lat, 
            lng, 
            radius)

        results = requests.get(url).json()["response"]['groups'][0]['items']

        venues_list.append([(
            name, 
            lat, 
            lng,
            v['venue']['name'],
            v['venue']['id'],
            v['venue']['location']['lat'], 
            v['venue']['location']['lng'],  
            v['venue']['categories'][0]['name']) for v in results])

    nearby_venues = pd.DataFrame([item for venue_list in venues_list for item in venue_list])
    nearby_venues.columns = ['Neighborhood', 
                  'Neighborhood Latitude', 
                  'Neighborhood Longitude', 
                  'Venue',
                  'Venue_id',
                  'Venue Latitude', 
                  'Venue Longitude', 
                  'Venue Category']
    
    return(nearby_venues)

KC_venues = getNearbyVenues(names=KC_data['Ward'],
                                   latitudes=KC_data['Latitude'],
                                   longitudes=KC_data['Longitude']
                                  )

Let's see how many venue categories we have in the area:

In [16]:
KC_venues['Venue Category'].nunique()

132

And list them out:

In [17]:
KC_venues['Venue Category'].unique()

array(["Women's Store", 'Vietnamese Restaurant', 'Coffee Shop',
       'English Restaurant', 'Garden Center', 'Supermarket', 'Bakery',
       'Bookstore', 'Café', 'Gym / Fitness Center', 'Creperie', 'Park',
       'Shopping Plaza', 'Ice Cream Shop', 'Art Gallery', 'Restaurant',
       'Japanese Restaurant', 'Burger Joint', 'Plaza', 'Juice Bar',
       'Italian Restaurant', 'Cupcake Shop', 'French Restaurant',
       'Boxing Gym', 'Garden', 'Boutique', 'Bar', 'Market', 'Candy Store',
       'Clothing Store', 'Antique Shop', 'Movie Theater', 'Gastropub',
       'Pub', 'Gym', 'Gourmet Shop', 'Breakfast Spot', 'Cocktail Bar',
       'Diner', 'Australian Restaurant', 'Cheese Shop', 'Speakeasy',
       'Pizza Place', 'Indie Theater', 'Farmers Market',
       'Tapas Restaurant', 'Hotel', 'Grocery Store', 'Road',
       'Middle Eastern Restaurant', 'Thai Restaurant',
       'Indian Restaurant', 'Fast Food Restaurant', 'Hookah Bar',
       'Lebanese Restaurant', 'Pilates Studio', 'Historic Site',
       'Modern European Restaurant', 'Mediterranean Restaurant',
       'Sushi Restaurant', 'Museum', 'Gift Shop', 'Recording Studio',
       'History Museum', 'Persian Restaurant', 'Sporting Goods Shop',
       'Harbor / Marina', 'Deli / Bodega', 'Sandwich Place', 'Tea Room',
       'Department Store', 'Steakhouse', 'Art Museum',
       'Turkish Restaurant', 'Residential Building (Apartment / Condo)',
       'Science Museum', 'College Quad', 'Exhibit', 'Pharmacy',
       'Chocolate Shop', 'Jewelry Store', 'Dessert Shop', 'Yoga Studio',
       'Social Club', 'Seafood Restaurant', 'Indie Movie Theater',
       'Kebab Restaurant', 'Wine Shop', 'Portuguese Restaurant',
       'Convenience Store', 'Chinese Restaurant', 'Bus Stop',
       'Playground', 'Fish & Chips Shop', 'Skate Park', 'Record Shop',
       'Thrift / Vintage Store', 'Street Food Gathering', 'Donut Shop',
       'Beer Bar', 'Food & Drink Shop', 'Canal', 'Athletics & Sports',
       'Music Venue', 'Asian Restaurant', 'Indoor Play Area',
       'Theme Park Ride / Attraction', 'Cosmetics Shop', 'Mini Golf',
       'Shopping Mall', 'Electronics Store', 'Toy / Game Store',
       'Lingerie Store', 'Frozen Yogurt Shop', 'Multiplex',
       'Stationery Store', 'Shoe Store', 'Massage Studio', 'Butcher',
       'Bubble Tea Shop', 'Hotel Bar', 'Tennis Court', 'Wine Bar',
       'Ukrainian Restaurant', 'Greek Restaurant', 'Nail Salon',
       'Cycle Studio', 'Opera House', 'Hostel', 'Pedestrian Plaza',
       'Metro Station', 'Outdoor Sculpture'], dtype=object)

There are a few in here that are restaurants so we want to filter the KC_venues dataframe to only include these.

In [18]:
KC_restaurants = KC_venues[KC_venues['Venue Category'].str.contains('Restaurant')]
KC_restaurants.head()

,Neighborhood,Neighborhood Latitude,Neighborhood Longitude,Venue,Venue_id,Venue Latitude,Venue Longitude,Venue Category
1,Chelsea Riverside,51.487542,-0.16822,Phật Phúc Noodle Bar,4b8678d8f964a5208f8b31e3,51.487620,-0.169044,Vietnamese Restaurant
3,Chelsea Riverside,51.487542,-0.16822,The Ivy Chelsea Garden,55197d88498e3f4d85dc801c,51.487035,-0.169379,English Restaurant
16,Chelsea Riverside,51.487542,-0.16822,Bye Bye London Kuwaiti Restuarant,5bd4a3251a29250025225b02,51.487863,-0.167752,Restaurant
17,Chelsea Riverside,51.487542,-0.16822,Oka Chelsea,568e9345498eb6c01aa9e930,51.486224,-0.172009,Japanese Restaurant
18,Chelsea Riverside,51.487542,-0.16822,Sticks'n'Sushi,5bad2872666116002c429f44,51.488670,-0.165713,Japanese Restaurant

As we're dealing with categorical data we want to use one hot encoding to convert it to numerical and allow us to carry out statistical testing on the data:

In [19]:
KC_onehot = pd.get_dummies(KC_restaurants[['Venue Category']], prefix="", prefix_sep="")
KC_onehot['Neighborhood'] = KC_restaurants['Neighborhood'] 
fixed_columns = [KC_onehot.columns[-1]] + list(KC_onehot.columns[:-1])
KC_onehot = KC_onehot[fixed_columns]
KC_onehot.head()

,Neighborhood,Asian Restaurant,Australian Restaurant,Chinese Restaurant,English Restaurant,Fast Food Restaurant,French Restaurant,Greek Restaurant,Indian Restaurant,Italian Restaurant,...,Persian Restaurant,Portuguese Restaurant,Restaurant,Seafood Restaurant,Sushi Restaurant,Tapas Restaurant,Thai Restaurant,Turkish Restaurant,Ukrainian Restaurant,Vietnamese Restaurant
1,Chelsea Riverside,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
3,Chelsea Riverside,0,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
16,Chelsea Riverside,0,0,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
17,Chelsea Riverside,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
18,Chelsea Riverside,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

Now to combine the duplicate records for a neighbourhood (there is one row per venue currently), we take the mean for each venue type in each neighbourhood.

In [20]:
KC_grouped = KC_onehot.groupby('Neighborhood').mean().reset_index()
KC_grouped.head()

,Neighborhood,Asian Restaurant,Australian Restaurant,Chinese Restaurant,English Restaurant,Fast Food Restaurant,French Restaurant,Greek Restaurant,Indian Restaurant,Italian Restaurant,...,Persian Restaurant,Portuguese Restaurant,Restaurant,Seafood Restaurant,Sushi Restaurant,Tapas Restaurant,Thai Restaurant,Turkish Restaurant,Ukrainian Restaurant,Vietnamese Restaurant
0,Abingdon,0.000000,0.0,0.0,0.000000,0.0,0.000000,0.000000,0.000000,0.375000,...,0.125,0.000000,0.000000,0.0,0.125000,0.0,0.0,0.000000,0.0,0.000
1,Brompton & Hans Town,0.000000,0.0,0.0,0.000000,0.0,0.166667,0.000000,0.000000,0.333333,...,0.000,0.000000,0.166667,0.0,0.000000,0.0,0.0,0.166667,0.0,0.000
2,Campden,0.000000,0.0,0.0,0.142857,0.0,0.000000,0.142857,0.285714,0.142857,...,0.000,0.142857,0.000000,0.0,0.142857,0.0,0.0,0.000000,0.0,0.000
3,Chelsea Riverside,0.000000,0.0,0.0,0.125000,0.0,0.125000,0.000000,0.000000,0.250000,...,0.000,0.000000,0.125000,0.0,0.000000,0.0,0.0,0.000000,0.0,0.125
4,Colville,0.142857,0.0,0.0,0.000000,0.0,0.000000,0.000000,0.000000,0.571429,...,0.000,0.000000,0.285714,0.0,0.000000,0.0,0.0,0.000000,0.0,0.000

In [21]:
def return_most_common_venues(row, num_top_venues):
    row_categories = row.iloc[1:]
    row_categories_sorted = row_categories.sort_values(ascending=False)
    
    return row_categories_sorted.index.values[0:num_top_venues]

In [22]:
num_top_venues = 10

indicators = ['st', 'nd', 'rd']

columns = ['Neighborhood']
for ind in np.arange(num_top_venues):
    try:
        columns.append('{}{} Most Common Venue'.format(ind+1, indicators[ind]))
    except:
        columns.append('{}th Most Common Venue'.format(ind+1))

neighborhoods_venues_sorted = pd.DataFrame(columns=columns)
neighborhoods_venues_sorted['Neighborhood'] = KC_grouped['Neighborhood']

for ind in np.arange(KC_grouped.shape[0]):
    neighborhoods_venues_sorted.iloc[ind, 1:] = return_most_common_venues(KC_grouped.iloc[ind, :], num_top_venues)

neighborhoods_venues_sorted

,Neighborhood,1st Most Common Venue,2nd Most Common Venue,3rd Most Common Venue,4th Most Common Venue,5th Most Common Venue,6th Most Common Venue,7th Most Common Venue,8th Most Common Venue,9th Most Common Venue,10th Most Common Venue
0,Abingdon,Italian Restaurant,Mediterranean Restaurant,Sushi Restaurant,Persian Restaurant,Modern European Restaurant,Middle Eastern Restaurant,Japanese Restaurant,Australian Restaurant,Chinese Restaurant,English Restaurant
1,Brompton & Hans Town,Italian Restaurant,Turkish Restaurant,Restaurant,French Restaurant,Japanese Restaurant,Vietnamese Restaurant,Kebab Restaurant,Australian Restaurant,Chinese Restaurant,English Restaurant
2,Campden,Indian Restaurant,English Restaurant,Sushi Restaurant,Portuguese Restaurant,Greek Restaurant,Italian Restaurant,Vietnamese Restaurant,Kebab Restaurant,Australian Restaurant,Chinese Restaurant
3,Chelsea Riverside,Italian Restaurant,Japanese Restaurant,Vietnamese Restaurant,English Restaurant,French Restaurant,Restaurant,Lebanese Restaurant,Australian Restaurant,Chinese Restaurant,Fast Food Restaurant
4,Colville,Italian Restaurant,Restaurant,Asian Restaurant,Lebanese Restaurant,Australian Restaurant,Chinese Restaurant,English Restaurant,Fast Food Restaurant,French Restaurant,Greek Restaurant
5,Courtfield,Thai Restaurant,Fast Food Restaurant,Indian Restaurant,Italian Restaurant,Middle Eastern Restaurant,Japanese Restaurant,Lebanese Restaurant,Vietnamese Restaurant,Kebab Restaurant,Australian Restaurant
6,Dalgarno,Thai Restaurant,Chinese Restaurant,Vietnamese Restaurant,Lebanese Restaurant,Australian Restaurant,English Restaurant,Fast Food Restaurant,French Restaurant,Greek Restaurant,Indian Restaurant
7,Earl's Court,Thai Restaurant,Fast Food Restaurant,Indian Restaurant,Italian Restaurant,Middle Eastern Restaurant,Japanese Restaurant,Lebanese Restaurant,Vietnamese Restaurant,Kebab Restaurant,Australian Restaurant
8,Golborne,Thai Restaurant,English Restaurant,Italian Restaurant,Middle Eastern Restaurant,Lebanese Restaurant,Vietnamese Restaurant,Kebab Restaurant,Australian Restaurant,Chinese Restaurant,Fast Food Restaurant
9,Holland,Restaurant,Japanese Restaurant,Vietnamese Restaurant,Lebanese Restaurant,Australian Restaurant,Chinese Restaurant,English Restaurant,Fast Food Restaurant,French Restaurant,Greek Restaurant
10,Norland,Fast Food Restaurant,Italian Restaurant,Japanese Restaurant,Ukrainian Restaurant,Vietnamese Restaurant,Lebanese Restaurant,Australian Restaurant,Chinese Restaurant,English Restaurant,French Restaurant
11,Notting Dale,Chinese Restaurant,Indian Restaurant,Vietnamese Restaurant,Lebanese Restaurant,Australian Restaurant,English Restaurant,Fast Food Restaurant,French Restaurant,Greek Restaurant,Italian Restaurant
12,Pembridge,Greek Restaurant,Persian Restaurant,Italian Restaurant,Australian Restaurant,English Restaurant,Portuguese Restaurant,Vietnamese Restaurant,Kebab Restaurant,Chinese Restaurant,Fast Food Restaurant
13,Queen's Gate,Italian Restaurant,Vietnamese Restaurant,Seafood Restaurant,Japanese Restaurant,Kebab Restaurant,Portuguese Restaurant,Mediterranean Restaurant,Sushi Restaurant,Restaurant,Australian Restaurant
14,Redcliffe,Tapas Restaurant,French Restaurant,Restaurant,Italian Restaurant,Vietnamese Restaurant,Kebab Restaurant,Australian Restaurant,Chinese Restaurant,English Restaurant,Fast Food Restaurant
15,Royal Hospital,Italian Restaurant,French Restaurant,Restaurant,Japanese Restaurant,Vietnamese Restaurant,Lebanese Restaurant,Australian Restaurant,Chinese Restaurant,English Restaurant,Fast Food Restaurant
16,Stanley,Italian Restaurant,Restaurant,Australian Restaurant,Vietnamese Restaurant,Lebanese Restaurant,Chinese Restaurant,English Restaurant,Fast Food Restaurant,French Restaurant,Greek Restaurant

From the dataframe above we can see that Italian restaurants are very common in quite a few of the neighbourhoods. As we want to find a location for the restaurant where there is limited competition from nearby Italian restaurants we need to only look further into those neighbourhoods in which Italian restaurants are not very common.

In [23]:
high_comp_neighbourhoods = np.column_stack([neighborhoods_venues_sorted[col].str.contains(r"Italian Restaurant", na=False) for col in neighborhoods_venues_sorted])
low_comp_neighbourhoods = neighborhoods_venues_sorted.loc[~high_comp_neighbourhoods.any(axis=1)].reset_index(drop=True)
low_comp_neighbourhoods

,Neighborhood,1st Most Common Venue,2nd Most Common Venue,3rd Most Common Venue,4th Most Common Venue,5th Most Common Venue,6th Most Common Venue,7th Most Common Venue,8th Most Common Venue,9th Most Common Venue,10th Most Common Venue
0,Dalgarno,Thai Restaurant,Chinese Restaurant,Vietnamese Restaurant,Lebanese Restaurant,Australian Restaurant,English Restaurant,Fast Food Restaurant,French Restaurant,Greek Restaurant,Indian Restaurant
1,Holland,Restaurant,Japanese Restaurant,Vietnamese Restaurant,Lebanese Restaurant,Australian Restaurant,Chinese Restaurant,English Restaurant,Fast Food Restaurant,French Restaurant,Greek Restaurant

We have now isolated two neighbourhoods in which Italian restaurants are not common - Dalgarno and Holland. Let's look at the restaurants in both of these neighborhoods:

In [24]:
dalgarno_restaurants = KC_restaurants[KC_restaurants['Neighborhood']=='Dalgarno']
dalgarno_restaurants

,Neighborhood,Neighborhood Latitude,Neighborhood Longitude,Venue,Venue_id,Venue Latitude,Venue Longitude,Venue Category
267,Dalgarno,51.523419,-0.223709,Fitou's,4bd1909b9854d13a39b6f94d,51.521973,-0.226575,Thai Restaurant
271,Dalgarno,51.523419,-0.223709,Fortune Star,4eba793ccc21a9a7a1e1dfe1,51.522594,-0.221408,Chinese Restaurant

In [25]:
holland_restaurants = KC_restaurants[KC_restaurants['Neighborhood']=='Holland']
holland_restaurants

,Neighborhood,Neighborhood Latitude,Neighborhood Longitude,Venue,Venue_id,Venue Latitude,Venue Longitude,Venue Category
470,Holland,51.503008,-0.204135,The Belvedere,4ac518d6f964a5202aa820e3,51.501859,-0.204147,Restaurant
479,Holland,51.503008,-0.204135,Flat Three,560709fe498e663eae00684d,51.506870,-0.207079,Japanese Restaurant

So a very limited number of restaurants in these two neighborhoods. Let's look at the ratings for these:

In [26]:
def getrating(venue_id):
    url = 'https://api.foursquare.com/v2/venues/{}?client_id={}&client_secret={}&v={}'.format(venue_id, CLIENT_ID, CLIENT_SECRET, VERSION)
    result = requests.get(url).json()
    result['response']['venue']
    try:
        print(result['response']['venue']['rating'])
    except:
        print('This venue has not been rated yet.')

In [27]:
for i in dalgarno_restaurants['Venue_id']:
    getrating(i)

7.7
This venue has not been rated yet.

In [28]:
for i in holland_restaurants['Venue_id']:
    getrating(i)

7.9
7.4

We can see from the ratings that Holland has the more successful restaurants of the two neighborhoods and there are no other Italian restaurants nearby. Based on this analysis we could suggest to Mrs A that Holland, London would be a good location for a new Italian restaurant.